<h1> Veggies </h1>
<ul>
  <% @veggies.each do |veggy| %>
    <li>
      <%= link_to veggy.name, veggy %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <p class="nav-item"><%= link_to "New Veggy", new_veggy_path, class: "btn btn-success" %></p>
<% end %>
