<% if user_signed_in? %>
  <h1>Welcome back!</h1>
<% else %>
  <h1> Veggies </h1>
  <ul>
      <% @veggies.each do |veggy| %>
      <li>
        <%= link_to veggy.name, veggy %>
        <%= link_to "Edit", edit_veggy_path(veggy) %>
        <%= link_to "Destroy", veggy, method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "New Veggy", new_veggy_path %>
